<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      <%= h(RELEASE.application_name) %> : <%= h(controller.controller_name.capitalize) %> - 
      <%= h(@page_name || controller.action_name) %>
    </title>
    <%= stylesheet_link_tag 'screen', 'application', :media => 'all', :cache => false %>

    <%= stylesheet_link_tag "grids-min", "tabview", :media => "all", :cache => false %>
    <%= javascript_include_tag :defaults, "tablekit", "popup", "scriptaculous.js?load=effects", :cache => false %>
    <%= javascript_include_tag 'xml_request.js' %>
    <%= javascript_include_tag 'organism_validation.js' %>
    <%= javascript_include_tag 'compoundform.js' %>
    <%= javascript_include_tag 'sample_registration.js' %>
    <%= javascript_include_tag 'sample_move.js' %>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
  </head>
  <body class="yui-skin-sam">
    <div id="doc3" class="yui-t4">
      <div id="hd">
        <div id="logo_container">
          <div id="application_logo">
            <%= link_to image_tag("application.gif", :size => "98x24"), :controller => root_path %>
          </div>
        </div>
        <div id="quick_links">
          <div id="description" class="bar">
            <ul>
              <li>
                <span id="institute"><%= link_to h(RELEASE.organisation), RELEASE.organisation_link %></span>
              </li>
            </ul>
          </div>
          <div id="user_links" class="bar">
            <ul>
<% if @current_user -%>
              <li><%= link_to 'Log out', logout_path -%></li>
<% end -%>
            </ul>
          </div>
        </div>
        <div id="header">
          <div id='header_container'>
            <div id='search'>
            </div>
            <div id="app_name">
              <%= link_to h(RELEASE.application_name.upcase), root_path %>
            </div>
          </div>
          <div id="tab_bar">
            <div id="tabs">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            <% render_flashes %>
            <div id="yield">
              <%= yield %>
            </div>
          </div>
        </div>
        <div id="menu" class="yui-b">
          <div class="callout">
            <%= h(@title) %>
            <div id="links">
            </div>
          </div>
        </div>
      </div>
      <div id="ft">
        <div id="footer">
          <%= link_to "Feedback", "mailto:seq-help@sanger.ac.uk" %><br/>
          <%= link_to h(RELEASE.application_name), root_path %> <%= h(RELEASE.full) %> <%= "(#{h(Rails.env)})" unless Rails.env == "production" %> · 
          A production tool from <%= link_to "Sequencing Informatics", "http://intweb/Software/launch" %>
        </div>
      </div>
    </div>
  </body>
</html>
